In [1]:
import pandas as pd

In [2]:
book=pd.read_csv(r"C:\Users\kittu\OneDrive\Documents\project_dataset\Books.csv")

C:\Users\kittu\AppData\Local\Temp\ipykernel_20012\1341327118.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book=pd.read_csv(r"C:\Users\kittu\OneDrive\Documents\project_dataset\Books.csv")

In [3]:
!pip install matplotlib
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

WARNING: You are using pip version 21.1.1; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\users\kittu\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: matplotlib in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (3.5.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: packaging>=20.0 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (4.37.1)
Requirement already satisfied: cycler>=0.10 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.17 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (1.23.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)


## Replacing Invalid years with max year
from collections import Counter
count = Counter(book['Year-Of-Publication'])
[k for k, v in count.items() if v == max(count.values())]

In [4]:
pd.set_option('display.max_colwidth', -1)

C:\Users\kittu\AppData\Local\Temp\ipykernel_20012\3652881321.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [5]:

## Replacing Invalid years with max year
from collections import Counter
count = Counter(book['Year-Of-Publication'])
[k for k, v in count.items() if v == max(count.values())]

[2002]

In [6]:

book.loc[book.ISBN == '0789466953','Year-Of-Publication'] = 2000
book.loc[book.ISBN == '0789466953','Book-Author'] = "James Buckley"
book.loc[book.ISBN == '0789466953','Publisher'] = "DK Publishing Inc"
book.loc[book.ISBN == '0789466953','Book-Title'] = "DK Readers: Creating the X-Men, How Comic Book...	"

In [7]:


book.loc[book.ISBN == '078946697X','Year-Of-Publication'] = 2000
book.loc[book.ISBN == '078946697X','Book-Author'] = "JMichael Teitelbaum"
book.loc[book.ISBN == '078946697X','Publisher'] = "DK Publishing Inc"
book.loc[book.ISBN == '078946697X','Book-Title'] = "DK Readers: Creating the X-Men, How It All Beg..."

In [8]:

book.loc[book.ISBN == '2070426769','Year-Of-Publication'] = 2003
book.loc[book.ISBN == '2070426769','Book-Author'] = "Jean-Marie Gustave Le ClÃ?Â©zio"
book.loc[book.ISBN == '2070426769','Publisher'] = "Gallimard"
book.loc[book.ISBN == '2070426769','Book-Title'] = "Peuple du ciel, suivi de Les Bergers"

In [9]:
## Converting year of publication in Numbers
book['Year-Of-Publication'] = book['Year-Of-Publication'].astype(int)

In [10]:
book.loc[book['Year-Of-Publication'] > 2021, 'Year-Of-Publication'] = 2000
book.loc[book['Year-Of-Publication'] == 0, 'Year-Of-Publication'] = 2000

In [11]:
User=pd.read_csv(r"C:\Users\kittu\OneDrive\Documents\Users.csv")

In [12]:
User["country"]=User.Location.str.split(",",expand=True)[2]

In [13]:
User=User.drop(["Location"],axis=1)

In [14]:

User.loc[User["Age"]>100,"Age"]=np.NaN
User.loc[User["Age"]<6,"Age"]=np.NaN

In [15]:

User["Age"].fillna(30,inplace = True)

In [16]:

User["Age"]=User["Age"].astype(int)

In [17]:
User.dropna()#there are only two null value in country therefore droping it

        User-ID  Age          country
0       1        30    usa
1       2        18    usa
2       3        30    russia
3       4        17    portugal
4       5        30    united kingdom
...    ..        ..               ...
278853  278854   30    usa
278854  278855   50    united kingdom
278855  278856   30    canada
278856  278857   30    usa
278857  278858   30    ireland

[278856 rows x 3 columns]

In [18]:
rating=pd.read_csv(r"C:\Users\kittu\OneDrive\Documents\Ratings.csv")

In [19]:
import re
## removing extra characters from ISBN (from ratings dataset) existing in books dataset
bookISBN = book['ISBN'].tolist() 
reg = "[^A-Za-z0-9]" 
for index, row_Value in rating.iterrows():
    z = re.search(reg, row_Value['ISBN'])    
    if z:
        f = re.sub(reg,"",row_Value['ISBN'])
        if f in bookISBN:
            rating.at[index , 'ISBN'] = f

In [20]:

# merging all data sets
dataset = pd.merge(book, rating, on='ISBN', how='inner')
dataset = pd.merge(dataset, User, on='User-ID', how='inner')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031476 entries, 0 to 1031475
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031476 non-null  object
 1   Book-Title           1031476 non-null  object
 2   Book-Author          1031475 non-null  object
 3   Year-Of-Publication  1031476 non-null  int32
 4   Publisher            1031474 non-null  object
 5   Image-URL-S          1031476 non-null  object
 6   Image-URL-M          1031476 non-null  object
 7   Image-URL-L          1031472 non-null  object
 8   User-ID              1031476 non-null  int64
 9   Book-Rating          1031476 non-null  int64
 10  Age                  1031476 non-null  int32
 11  country              1031476 non-null  object
dtypes: int32(2), int64(2), object(8)
memory usage: 94.4+ MB

In [21]:
p = {}
for year in book['Year-Of-Publication']:
    if str(year) not in p:
        p[str(year)] = 0
    p[str(year)] +=1

p = {k:v for k, v in sorted(p.items())}

In [22]:
#popular based 
def popularity_based(dataframe, n):
    if n >= 1 and n <= len(dataframe):
        data = pd.DataFrame(dataframe.groupby('ISBN')['Book-Rating'].count()).sort_values('Book-Rating', ascending=False).head(n)
        data1=pd.DataFrame(dataframe.groupby('ISBN')['Book-Rating'].unique())
        data2=pd.merge(data,data1, on='ISBN')
        result = pd.merge(data2, book, on='ISBN', left_index = False)
        return result
    return "Invalid number of books entered!!"

In [23]:


number = int(input("Enter number of books to recommend: "))

Enter number of books to recommend: 5

In [24]:

dataset1=dataset[dataset["Book-Rating"]>8]

In [25]:
print("Top", number, "Popular books are: ")
popularity_based(dataset1,5)

Top 5 Popular books are:

,ISBN,Book-Rating_x,Book-Rating_y,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0316666343,327,"[10, 9]",The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0316666343.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0316666343.01.LZZZZZZZ.jpg
1,0385504209,286,"[9, 10]",The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0385504209.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0385504209.01.LZZZZZZZ.jpg
2,059035342X,217,"[10, 9]",Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback)),J. K. Rowling,1999,Arthur A. Levine Books,http://images.amazon.com/images/P/059035342X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/059035342X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/059035342X.01.LZZZZZZZ.jpg
3,0312195516,201,"[10, 9]",The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,http://images.amazon.com/images/P/0312195516.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0312195516.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0312195516.01.LZZZZZZZ.jpg
4,0142001740,176,"[9, 10]",The Secret Life of Bees,Sue Monk Kidd,2003,Penguin Books,http://images.amazon.com/images/P/0142001740.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0142001740.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0142001740.01.LZZZZZZZ.jpg

In [26]:
popularity_threshold = 50
!pip install scipy
!pip install sklearn
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
data = (dataset.groupby(by = ['Book-Title'])['Book-Rating'].count().reset_index().
        rename(columns = {'Book-Rating': 'Total-Rating'}))

result = pd.merge(data, dataset, on='Book-Title', left_index = False)
result = result[result['Total-Rating'] >= popularity_threshold]
result = result.reset_index(drop = True)

matrix = result.pivot_table(index = 'Book-Title', columns = 'User-ID', values = 'Book-Rating').fillna(0)
up_matrix = csr_matrix(matrix)

Requirement already satisfied: scipy in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (1.9.1)
Requirement already satisfied: numpy<1.25.0,>=1.18.5 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from scipy) (1.23.2)

WARNING: You are using pip version 21.1.1; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\users\kittu\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.
WARNING: You are using pip version 21.1.1; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\users\kittu\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: sklearn in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from sklearn) (1.1.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (1.9.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (1.23.2)
Requirement already satisfied: joblib>=1.0.0 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kittu\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (3.1.0)

In [27]:
bookName = input("Enter a book name: ")
model = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model.fit(up_matrix)

distances, indices = model.kneighbors(matrix.loc[bookName].values.reshape(1, -1), n_neighbors =10)
print("\nRecommended books:\n")
for i in range(0, len(distances.flatten())):
    if i > 0:
        print(matrix.index[indices.flatten()[i]])

Enter a book name: Harry Potter and the Prisoner of Azkaban (Book 3)

Recommended books:

Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Sorcerer's Stone (Book 1)
Harry Potter and the Order of the Phoenix (Book 5)
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))
The Fellowship of the Ring (The Lord of the Rings, Part 1)
The Two Towers (The Lord of the Rings, Part 2)
Charlie and the Chocolate Factory
The Return of the King (The Lord of the Rings, Part 3)

In [28]:
import pickle
pickle.dump(matrix,open("books.pk1","wb"))
pickle.dump(model,open("model.pk1","wb"))
pickle.dump(result,open("result.pk1","wb"))